# Ignore node_modules folder
node_modules/

# Ignore npm lock file
package-lock.json

# Ignore .vscode folder
.vscode/

# Ignore dotenv environment 
.env
.env.local

# Ignore build output (if applicable, e.g., for transpiled code)
dist/
